.pagination{
    margin-top: 30px;
    .page-item{
        .page-link{
            border: 0;
            padding: 0 10px;
            box-shadow: none;
            outline: 0;
            width: 40px;
            height: 40px;
            display: block;
            border-radius: 40px;
            color: #7E7E7E;
            line-height: 40px;
            text-align: center;
            font-weight: 700;
            font-family: "Quicksand", sans-serif;
            font-size: 16px;
            background-color: #F2F3F4;
            margin-left: 5px;
        }
        .second{
            background-color: #3bb77e;
            color: #fff;
        }
        &:hover .page-link{
            background-color: #3bb77e;
            color: #fff;
            transition: .4s;
        }

    }
}

// deals
#deals{
    margin-top: 30px;
    h3{
    font-weight: 600;
    font-size: 30px;
    margin: 50px 0 20px 20px;
    }
}
// intro
#intro-shop{
    margin: 40px 10px;
    .container-fluid{
        background-image: url(../photos/header-bg.png);
        background-position: center;
        background-size: cover;
        padding:40px ;
        border-radius: 20px;
        h2{
            font-size: 50px;
            color: #212529;
            margin: 20px 0 0 15px;
        }
        .breadcrumb{
            li{
                font-size: 13px;
                i{
                    font-size: 10px;
                    margin: 0 10px;
                }
                .home{
                    
                    color: #3bb77e;
                    &:hover{
                        color: #fdc040;
                    }
        
                }
            }
        }
        .list{
          ul{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 30px 0;
          }
            li{
                margin-left: 10px;
                border: 1px solid transparent;
                border-radius: 30px;
                background-color: #fff ;
                padding: 10px 20px;
                color: #3bb77e;
                i{
                    color: #7E7E7E;
                    font-size: 13px;
                }
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
                }
            }
           
        }
    }
}

// shop-filter

#shop-filter{
    margin: 0 20px;
    .total-product{
        p{
            font-size: 14px;
            color: #7E7E7E;
            .number{
                color: #3bb77e;
            }
        }
    }
    // select {
    //     -webkit-appearance: none;
    //     display: none;
    // }
    // .rigth{
    //     display: flex;
    //     justify-content: space-around;
    //     align-items: center;
    // }
}


